.Menu{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 5px solid #6A5ACD;
    background-color: #FFFFFF;
    padding: 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16pt;
    color: #483D8B;
    text-align: center;
}

.LeftMenu{
    align-content: stretch;
    width: 450px;
    height: 100vh;
}

.Text {
    width:100%;
    height: 60vh;
    padding: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
    color: #4B0082;
    ;
}

/*Випадаюче меню*/
.dropdown {
    position: relative;
    display: block;
}
.dropdown-child {
    display: none;
    background-color: #483D8B ;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

h1 {
    font-size: 300% ;
    color: #483D8B;
    margin-top: 6%;
    margin-bottom: -10%;
}
